.hero{
  background : #00AAB2;
  background : rgba(0, 170, 178, 1);
  height : 460px;
}

.hero-logo {
	position: relative;
}
.hero-illustration {
	margin-top: 10px;
	padding-top: 20px;
	margin-left: -35%;
}

.logo-search {
	margin-top: 25px;
}

/* Search Bar */
.search-bar {
	position: relative;
	float: right;
	margin-top: 7px;
}

/*Navigation bar */

.nav-top {
	width : 524px;
	height: 27px;
	margin-top: 37px;
	font-weight: bold;
}

.nav-top ul {
	margin: 0;
	padding: 0;
	text-align: right;
	color: #FFFFFF;
	float: right;
}

.nav-top ul li {
	list-style: none;
	display: inline-block;
	padding: 0 10px 0;
}

.nav-top ul li a {
	text-decoration: none;
	color: #FFFFFF;
}

.nav-top ul li a:hover {
	color: blue;
}

/* Hero Content*/

.hero-tagline {
	margin-top: 60px;
	padding-top: 30px;
	color: #ffffff;
}

.hero-p {
	max-width: 450px;
}

/* Benefits Sections*/

.benefits-fs {
	margin-top: 16%;
}

/* Track your diet */

.diet-image {
	float: left;
	margin-top: 100px;
	margin-bottom: 15px;
	margin-left: -20px;
}

.track-icon {
	margin-bottom: 10px;
	margin-top: 30%;
}

.track-diet-p {
	margin-top: -10px;
}

/* Alt. Foods */


.alt-foods {
	background : #00AAB2;
 	background : rgba(0, 170, 178, 1);
    height : 525px;
}

.alt-foods-section {
	margin-top: 80px;
}

.alt-foods-icon {
	color: #FFFFFF;
}

.alt-foods-header {
	padding-top: 5px;
	margin-bottom: 10px;
	color: #FFFFFF;
}

.alt-foods-p {
	width: 280px;
	color: #FFFFFF;
	line-height : 27px;
}

/* Connect with Others */
.community-image {
	margin-bottom: 23%;
	margin-left: 8%;
	position: relative;
}

.connection-icon {
	margin-bottom: 10px;
	margin-top: 21%;
}

.connection-p {
	margin-top: -5px;
	width: 250px;
}

/* Custom Meals */
.custom-meals {
  background : #00AAB2;
  background : rgba(0, 170, 178, 1);
  height : 796px;
}

.custom-meals-image {
	position: relative;
	margin-right: 10%;

}

.custom-meals-text {
	color: #FFFFFF;
	margin-left: 30px;
	margin-top: 70px;
	width : 310px;
  	height : 251px;
}

.custom-meals-icon {
	margin-bottom: 10px;
}

.custom-meals-h3 {
	margin-bottom: 10px;
}

.custom-meals-p {
	width: 270px;
}

/* Pricing */

.pricing-header {
	text-align: center;
	line-height: 36px;
	position: relative;
	margin-top: 16%;
	margin-bottom: 4%;
}

.tables {
	list-style: none;
	position: relative;
}

.box {
  background-repeat : no-repeat;
  background : #E0E0E0;
  background : rgba(224, 224, 224, 1);
  border-radius : 4px;
  margin: auto;
  height : 369px;
  position: relative;

}

.free-box {
	height: 18.5em;
}

.free-box-th {
	margin-top: 3em;
}

.table-header {
  background : #00AAB2;
  background : rgba(0, 170, 178, 1);
  border-radius : 4px;
  font-size: 24px;
  height : 66px;
  line-height: 65px;
  text-align: center;
  color: #ffffff;
}

.box ul {

}

.box ul li {
	list-style: none;
	text-align: center;
}

.box ul li a {

}

.princing-btn {
	margin-left: 15px;
}

.pricing-btn1 {
	margin-top: -6.5%;
	/*previous % was 31.5%*/
}

/* Testimonial */
.testimonials-setup {

}

.testimonial {
	list-style: none;
}

.testimonial-name {
	position: absolute;
	margin-top: -13%;
	margin-left: 21%;
}

.test-icon {
	position: absolute;
	margin: 10px 30px;
}

.testimonial-h3 {
	text-align: center;
	margin-top: 16%;
}

.testimonial-p {
	text-align: center;
	font-size: 24px;
}

.testimonial-h3 .testimonial-p {
	margin-right: 5%;
}

.testimonial-quote {
	margin-left: 16%;
	margin-top: -6%;
	font-style: italic;
	width: 450px;
}

.circles {
	margin-left: 20%;
}

.circles li {
	list-style: none;
	display: inline-block;
	margin: 0 15px;
	width: 16px;
	height: 16px;
	border-radius: 32px;
	position: relative;
	background-color: #afafaf;
}

.circles .circle-1 {
	width: 16px;
	height: 16px;
	border-radius: 32px;
	background-color: grey;
	position: relative;
	background-color: #333333;
}



/* Footer */

.footer-nav {
	background-color: #00aab2;
}


.footer-links {
	position: relative;
	margin-top: -20.75%;
	float: right;

}

.footer-links li {
	list-style: none;
	line-height: 21px;
}

.footer-links li a {
	color: #FFFFFF;
	text-decoration: none;
}

.footer-links li a:hover {
	text-decoration: underline;
}

.footer-logo {
	margin-top: 7%;
}

.copyright-info {
	color: #FFFFFF;
	margin-top: 2.5%;
}

.footer-btn {
	float: right;
	margin-top: 20%;
	width: 230px;

}

/* Media Queries */

/* Larger than mobile
	400 px
 */
@media (min-width: 25em)  {
	.hero {
		height: 740px;
	}

	.hero-logo {
		margin-left: 5em;
	}

	.search-bar {
		display: none;
	}

	.nav-top {
		margin-top: 27px;
		background-color: #e16b3d;
	}

	.nav-top ul li {
		padding: 0 3px 0;
		font-size: 14px;
	}

	.SYDA-h3 {
		text-align: center;
	}

	.hero-p {
		text-align: center;
	}

	.hero-illustration {
		margin-left: 6%;
		height: 14em;
		margin-top: 5em;
	}

	.hero-btn {
		position: absolute;
		margin-left: 22%;
	}

	.track-icon {
		margin-left: 5em;
	}

	.track-diet-h3 {
		text-align: center;
	}

	.track-diet-p {
		text-align: center;
	}

	.diet-image {
		height: 250px;
		margin-top: 0px;
	}

	.food-alt-image {
		height: 143px;
	}

	.alt-foods-icon {
		margin-left: 5.2em;
	}

	.alt-foods-header {
		text-align: center;
		margin-left: 0.5em;
	}

	.alt-foods-p {
		text-align: center;
		margin-left: 2.5em;
	}

	.connection-icon {
		margin-left: 5em;
	}

	.connection-header {
		text-align: center;
		margin-left: 0.5em;
	}

	.connection-p {
		text-align: center;
		margin-left: 4em;
	}

	.community-image {
		height: 180px;
		margin-left: 6px;
		margin-top: -1.5em;
	}

	.custom-meals-image {
		height: 245px;
		margin-right: 0px;
		margin-top: 3.5em;
	}

	.custom-meals-text {
		margin-top: 1em;
	}

	.custom-meals-icon {
		margin-left: 4em;
	}

	.custom-meals-h3 {
		text-align: center;
		margin-left: -0.5em;
	}

	.custom-meals-p {
		text-align: center;
		margin-left: 1.2em;
	}

	.custom-meals-btn {
		margin-left: 3em;
	}

	.box {
		width: 65%;
		margin-top: 20px;
	}

	.testimonial-name {
		position: absolute;
		margin-top: 11%;
		margin-left: 28%;
		text-align: center;
	}

	.testimonial-h3 {
		margin-top: 36%;
	}

	.testimonial-quote {
		width: 290px;
		margin-left: 14%;
		margin-top: 28%;
	}

	.testimonial-avatar {
		height: 110px;
		margin-left: 8em;
	}

	.test-icon {
		position: absolute;
		margin-left: -6em;
		margin-top: 4em;
	}

	.circles {
		margin-left: 14%;
	}

	.copyright-info {
		width: 200px;
	}

	.footer-links {
		margin-top: -36.75%;
	}

	.copyright-info {
		width: 200px;
		font-size: 16px;
	}

	.footer-btn {
		margin-top: 0%;
		margin-left: 4em;
	}

}

/* Larger than phablet (also point when grid becomes active) 
	550px
*/
@media (min-width: 34.375em) {
	.hero {
		height: 460px;
	}

	.hero-logo {
		margin-left: 0em;
	}

	.search-bar {
		display: inline;
		margin-right: -15em;
		margin-top: 0.5em;
	}

	.nav-top {
		margin-top: 2.3em;
		background-color: transparent;
	}

	.nav-top ul li {
		padding: 0 8px 0;
	}

	.SYDA-h3 {
		text-align: left;
	}

	.hero-p {
		text-align: left;
	}

	.hero-illustration {
		
height: 13em;
	}

	.hero-btn {
		position: absolute;
		margin-left: 0%;
	}

	.track-icon {
		margin-left: 0;
	}

	.track-diet-h3 {
		text-align: left;
		width: 7em;
		margin-left: -0.1em;
	}

	.track-diet-p {
		text-align: left;
	}

	.diet-image {
		height: 250px;
		margin-top: 6em;
		margin-left: 3em;
	}

	.food-alt-image {
		height: 143px;
	}

	.alt-foods-icon {
		margin-left: 0em;
	}

	.alt-foods-header {
		text-align: left;
		margin-left: 0em;
	}

	.alt-foods-p {
		text-align: left;
		margin-left: 0em;
	}

	.connection-icon {
		margin-left: 0em;
	}

	.connection-header {
		text-align: left;
		margin-left: 0em;
	}

	.connection-p {
		text-align: left;
		margin-left: 0em;
	}

	.community-image {
		height: 180px;
		margin-left: 6px;
		margin-top: -0.5em;
	}

	.custom-meals-image {
		height: 245px;
		margin-right: 0px;
		margin-top: 3.5em;
	}

	.custom-meals-text {
		margin-top: 1em;
	}

	.custom-meals-icon {
		margin-left: 0.5em;
	}

	.custom-meals-h3 {
		text-align: left;
		margin-left: 0.5em;
	}

	.custom-meals-p {
		text-align: left;
		margin-left: 1em;
	}

	.custom-meals-btn {
		margin-left: 0em;
	}

	.box {
		width: 65%;
		margin-top: 20px;
	}

	.testimonial-name {
		position: absolute;
		margin-top: 11%;
		margin-left: 0%;
		text-align: left;
	}

	.testimonial-h3 {
		margin-top: 36%;
	}

	.testimonial-quote {
		width: 290px;
		margin-left: 0%;
		margin-top: 28%;
	}

	.testimonial-avatar {
		height: 110px;
		margin-left: 0em;
	}

	.test-icon {
		position: absolute;
		margin-left: -6em;
		margin-top: 4em;
	}

	.circles {
		margin-left: 14%;
	}

	.copyright-info {
		width: 200px;
	}

	.footer-links {
		margin-top: -36.75%;
	}

	.copyright-info {
		width: 200px;
		font-size: 16px;
	}

	.footer-btn {
		margin-top: 4em;
		margin-left: 4em;
	}

}

/* Larger than tablet 
	750px
*/
@media (min-width: 46.875em) {
	.hero {
		height: 460px;
	}

	.search-bar {
		display: inline;
		margin-right: 5em;
		margin-top: 0.5em;
	}

	.nav-top {
	}

	.nav-top ul li {

	}

	.SYDA-h3 {
		text-align: left;
	}

	.hero-p {
		text-align: left;
	}

	.hero-illustration {
		
		margin-left: -6.5em;
		
		height: 17.5em;
		
		margin-top: 1em;
	}

	.hero-btn {
		position: absolute;
		margin-left: 0%;
	}

	.track-icon {
	margin-top: 15%;
	}

	.track-diet-h3 {
		text-align: left;
		width: 7em;
		margin-left: -0.1em;
	}

	.track-diet-p {
	}

	.diet-image {
		max-width: 720px;
		height: 18.125em;
		margin-top: 6em;
	}

	.food-alt-image {
		height: 150px;
		margin-top: 3.5em;
	}

	.alt-foods-icon {
		margin-left: 0em;
	}

	.alt-foods-header {
		width: 7em;
	}

	.alt-foods-p {
		width: 15em;
	}

	.connection-icon {
		margin-left: 0em;
	}

	.connection-header {
		text-align: left;
		margin-left: 0em;
	}

	.connection-p {
		text-align: left;
		margin-left: 0em;
	}

	.community-image {
		height: 221px;
		margin-left: 4em;
		margin-top: 2em;
	}

	.custom-meals-image {
		height: 301px;
		margin-left: -1.1em;
	}

	.custom-meals-text {
		margin-top: 1em;
	}

	.custom-meals-icon {
		margin-top: 1.5em;
		margin-left: -1.5em;
	}

	.custom-meals-h3 {
		text-align: left;
		margin-left: -1.5em;
	}

	.custom-meals-p {
		text-align: left;
		margin-left: -3em;
	}

	.custom-meals-btn {
		margin-left: -3em;
	}

	.table-header {
		font-size: 20px;
	}

	.box {
		width: 115%;
	}

	.free-box {
		height: 20.5em;
	}

	.box2 {
		margin-left: 1em;
	}

	.box3 {
		margin-left: 2em;
	}

	.box4 {
		margin-left: 3em;
	}

	.pricing-btn {
		margin-left: 0%;
	}

	.testimonial-name {
		position: absolute;
		margin-top: 11%;
		margin-left: 0%;
	}

	.testimonial-h3 {
		margin-top: 36%;
	}

	.testimonial-quote {
		width: 290px;
		margin-left: 0%;
		margin-top: 28%;
	}

	.testimonial-avatar {
		height: 110px;
		margin-left: 0em;
	}

	.test-icon {
		position: absolute;
		margin-left: -6em;
		margin-top: 4em;
	}

	.circles {
		margin-left: 14%;
	}

	.copyright-info {
		width: 200px;
	}

	.footer-links {
		margin-top: -36.75%;
	}

	.copyright-info {
		width: 200px;
		font-size: 16px;
	}

	.footer-btn {
		margin-top: 4em;
		margin-left: 4em;
	}


}

/* Larger than desktop */
@media (min-width: 1000px) {
	.diet-image {
		max-height: 447px;
	}

	.food-alt-image {
		max-width: 600px;
		max-height: 220px;
	}

	.community-image {
		max-width: 602px;
		max-height: 341px;
	}

	.custom-meals-image {
		max-width: 652px;
		max-height: 441px;
	}

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	.diet-image {
		height: 25em;
	}

	.search-bar{
      margin-right: -2.5em;
  	}

  	.nav-top ul li {
   		padding: 0 8px 0;
 	 }

	.food-alt-image {
		height: 28em;
		margin-top: 0;
	}

	.community-image {
		height: 19em;
	}

	.custom-meals {
		
	height: 48em;
	}

	.custom-meals-image {
		height: 25em;
		margin-top: 1.5em;
	}
	
	.custom-meals-text {
		
	margin-left: -1em;
	}
	
	.box3 {
	}
	
	.box4 {
	}
	
	.princing-btn {
		margin-left: 35px;
	}
	
	.pricing-btn1 {
		margin-top: 0.1em;
	}

	.testimonial-h3 {

	margin-top: 16%;
	}

	.test-icon {

	margin-top: 0.86em;
	margin-left: 1em;
	}
	
	.testimonial-avatar{
		margin-left: 0em;
	}

	.testimonial-name {

	margin-top: -9.3%;
	margin-left: 13.5em;
	}

	.testimonial-quote {

	margin-top: -1%;
	margin-left: 9.5em;
	width: 430px;
	}

	.circles {

	margin-left: 21%;
	margin-bottom: 6.4em;
	margin-top: 3.7em;
	}

	/* Footer */
	.footer-logo {

	}

	.copyright-info {

	}

	.footer-links {

	margin-top: -26.75%;
	}
	
	.footer-btn {
		margin-top: 6em;
	}


}